<div class="main-div">
    <div class="big-photo">
        <img class="main-img" src="https://www.kgbarbershop.com/wp-content/uploads/2017/06/HOLYTIGER_149_c_Lupi_Spuma.jpg">
        <div class="welcome-message">
            <center><h2 class="welcome-title center">
                404__Error Detected
            </h2></center>
            <p class="welcome-quote">
                Could not find the path: {{path}}.
            </p>
        </div>
    </div>
</div>