<div class="main-div">
    <div class="big-photo">
        <img class="main-img" src="https://www.kgbarbershop.com/wp-content/uploads/2017/06/HOLYTIGER_149_c_Lupi_Spuma.jpg">
        <div class="welcome-message">
            <div class="about-photo">
                <img class="about-img" src="https://heavy.com/wp-content/uploads/2021/06/51259655_s.jpg?quality=65&strip=all&w=780">
            </div>
            <div class="about-text">
                <h2 id="about-heading">Meet Benson</h2>
                <h6 id="about-p">
                    Benson Bui lives in Portland, Oregon and attends Oregon State Universtiy.
                    He began his barber career as a hobby to help out his save money on haircuts.
                    Now his barber career has taken off and he has reached great success. He is a
                    known barber in Corvallis, Oregon cutting students who attend OSU.
                </h6>
            </div>
        </div>
    </div>
</div>