<div class="main-div">
    <div class="big-photo">
        <img class="main-img" src="https://www.kgbarbershop.com/wp-content/uploads/2017/06/HOLYTIGER_149_c_Lupi_Spuma.jpg">
        <div class="welcome-message">
            <div class="about-photo">
                <img class="about-img" src="https://www.menshairstylestoday.com/wp-content/uploads/2020/11/Barber-Shop-Pole-Design.jpg">
            </div>
            <div class="about-text">
                <h2>Contact Us!</h2>
                <p>
                    Cell Phone: 503-123-4567
                </p>
                <p>
                    Email: randomemail@oregonstate.edu
                </p>
                <p>
                    Location: Oregon State University 
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2842.6249348388205!2d-123.28163298447254!3d44.563780579100644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54c040b9ea50bb43%3A0xa6fff1dc01f7b49f!2sOregon%20State%20University!5e0!3m2!1sen!2sus!4v1638575744075!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>