<div class="main-div">
    <div class="big-photo">
        <img class="main-img" src="https://www.kgbarbershop.com/wp-content/uploads/2017/06/HOLYTIGER_149_c_Lupi_Spuma.jpg">
        <div class="welcome-message">
            <h2 class="welcome-title">
                Welcome to BennyBussin
            </h2>
            <p class="welcome-quote">
                Be Honored. Be a Gentleman. Be Groomed.
            </p>
        </div>
        <div id='a-button'>
            <a href="/book"><button class="book-button" >Book an Appointment!</button></a>
        </div>
    </div>
</div>

